<%- include('includes/header', {id: 'about'}) _%>
<div class="row">
    <div class="col-12 mb-2">
        <%- include('includes/alert') _%>
        <%- include('includes/heading_subheading') _%>
        <div class="row heading">
            <h2>About</h2>
        </div>
        <p>spicyipsum is a filler text generator for generating spicy sentences through the browser or <a href="/api">programmatically through the API.</a></p>
        <div class="row heading">
            <h3>Cookies and Privacy</h3>
        </div>
        <p>Cookies aren't used through spicyipsum since no persistent data is stored or required for your access.  Although we're a huge proponent of an informed experience by all parties, and always advocating for clear consent, there's no cookie consent banner to agree to.</p>
        <p>There are also no third party trackers or ad brokers like Facebook or Google.  We do use a lightweight, privacy-aware, self-hosted web analytics platform called <a href="https://www.goatcounter.com/" target="_blank">GoatCounter.</a>  Because no personally identifiable information is collected through GoatCounter or this site, spicyipsum <a href="https://www.goatcounter.com/help/gdpr" target="_blank">doesn't require a GDPR consent notice.</a></p>
        <div class="row heading">
            <h3>Why does this exist?</h3>
        </div>
        <p>My wife is a reformed web developer <a href="https://www.instagram.com/shadowandspinecreative/" target="_blank">turned bookstore owner</a> who loves fantasy, including dabbling in and dealing romantasy books.  I made this to make her smile.</p>
        <p>Enjoy.</p>
        <p>With <i class="bi bi-heart codeblock"></i> <a href="https://renderorange.com" target="_blank">Blaine.</a></p>
    </div>
    <%- include('includes/colophon') _%>
</div>
<%- include('includes/footer') _%>
